body{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    background-color: white;
}

header{
    display: flex;
}


.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #32B768;
    width: 100%;
    min-height: 600px;
    
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    text-align: center
}

.content p {
    
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #F0F0F5;
}


.mobile{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-content: flex-start;
    justify-content: space-between;
    margin-left: 10px;
    width: 920px;
    height: auto;
    background:url(element\ site\ 1.png);
}

.download{
    width: 417px;
    height: 51px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    
    color: #FFFFFF;
}


main{
    display: flex;
    flex-direction: column;
}

.container-news{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-news{
    background-color: #F0F0F5;
    margin: 10px 10px 20px 10px;

    padding-left: 10px;
    padding-right: 10px;

    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title-news {

    font-family: 'Roboto', sans-serif;
    color: #207342;
    font-weight: bolder;
    font-size: 24px;
    line-height: 28px;
}

img {
    width: auto; 
    max-height: 100%; 
    object-fit: contain;
}

.news{
    width: 360px;
    height: 140px;
    margin: auto;
    display: flex;
}

.description-news {

    width: 370px;
    height: auto;
    
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 28px;
    text-align: justify; 
    color: #000;
}

footer{
    box-sizing: border-box;
    display: flex;    
    width: 100%;
    height: auto;
    background: #F0F0F5;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

footer p{
    width: 100%;
    height: 30px;
    font-size: 14px;
    text-align: center;
    font-weight: bolder;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}



@media only screen and (max-device-width: 900px) {

    header{
        width: fit-content;
        height: auto;
    }
    

    .container{
        width: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }


    .content{
        float:left;
        display:flex;
        justify-content: flex-start;

    }

    .content p{
        font-weight: 200;
        font-size: 20px;
        line-height: 23px;
        text-align: center;

    }

    .mobile{
        display: flex;
        width: 320px;
        height: 320px;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        background: none;
    }
    
    main{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    footer{
        display: flex;    
        width: 100%;
        height: auto;
    }
    
}